table {
    min-width: 720px;
    width: 100%;
    empty-cells: show;
    border-collapse: collapse;
    text-align: left;
}

table th {
    padding: 0 10px 5px 10px;
    text-align: left;
    border-right: thin solid gray;
}

table td {
    padding: 0px 5px;
    border-right: thin solid gray;
}

td.last,th.last {
    border-right: none;
}

